#--------------------------------------------------------
# OS stuff
#--------------------------------------------------------

# Mac crap
.DS_Store

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

#--------------------------------------------------------
# Python
#--------------------------------------------------------
*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
*.coverage
*.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

#--------------------------------------------------------
# Pradyun's Stuff
#--------------------------------------------------------

# For checking test coverage
tests/.coverage_html/*

# I keep the wiki pages in the same directory
wiki/

# Used to clean the directory during branch switches
cleanup.cmd

#--------------------------------------------------------
# Misc
#--------------------------------------------------------

# Used in testing how the readme looks
README.html

# PLY
*parser.out
*parsetab.py


#--------------------------------------------------------
# Editor files
#--------------------------------------------------------
Py2C.sublime*
