<head>
    <link href="http://gmpg.org/xfn/11" rel="profile">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">

    <!-- Enable responsiveness on mobile devices-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

    <title>
        {% if page.title == "Home" %}
            {{ site.title }} &middot; {{ site.tagline }}
        {% else %}
            {{ page.title }} &middot; {{ site.title }}
        {% endif %}
    </title>

    <!-- CSS -->
    <link rel="stylesheet" href="{{ site.base_url }}/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ site.base_url }}/css/sidebar.css">

    <!-- jQuery -->
    <script src="{{ site.base_url }}/js/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="{{ site.base_url }}/js/bootstrap.min.js"></script>
    <!-- Sidebar Toggle Script -->
    <script src="{{ site.base_url }}/js/sidebar.js"></script>
</head>
