[run]
source = py2c
branch = True

[report]
exclude_lines =
    # Changed pragma
    coverage: not missing

    # Defensive code
    raise AssertionError
    raise NotImplementedError

    def __repr__

    # Not for testing :)
    if False:
    if __name__ == .__main__.:

partial_branches =
    coverage: no partial

omit =
    */test*
    *tab*

ignore_errors = True

[html]
directory = _coverage_reports
