[nosetests]
exe=1

[run]
branch = True

omit =
    */test*
    *tab*
    */site-packages/*
    */dist-packages/*
    */python?.?/*
    */lib-python/?.?/*.py

[report]
exclude_lines =
    # Changed pragma
    coverage: not missing

    # Defensive code
    raise AssertionError

    def __repr__

    # Not for testing :)
    if False:
    if __name__ == .__main__.:

partial_branches =
    # Changed pragma
    coverage: no partial

[html]
directory = _test_reports/coverage
